body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background:url(../Assets/65iSXU.jpg);
        background-size: cover;
} 
p {
        padding: 1em;
        text-align: center;
        width: auto;
        border: thin;
        border-radius: 10px;
        box-shadow: 4px 4px rgb(71, 66, 66);
        background-color: rgb(245, 217, 182, 0.2);
        height: 1.5em;
        vertical-align: middle;
        text-shadow: 4px 4px  2px black;
}
.sect2 {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        color: white;
}
button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: 1em;
        padding: 1em;
        text-align: center;
        font-size: larger;
        height: 10vh; 
        color: rgb(219, 213, 213);
        background-color: rgb(65, 65, 138, 0.2);
        border-radius: 20px;      
}
.sect2 button{
        animation: animate 10s  ease-in;
}
@keyframes animate {
        0%{
                scale: 0; opacity: 0;
        }
        50%{
                scale: 0.25; opacity: 0.5;
        }
        100%{
                scale: 1; opacity: 1;
        }

}
.sect1 {
        display: none;
        color: beige;
        width: 100%;
        flex-direction: column;
        align-items: center;
        
}
article{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: large;
}
article p{
        font-weight: 900;
        font: 1em sans-serif;
        padding: 1em;
}
.scoreboad{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

 .sec3{
     display: flex;
     justify-content: space-between;
 }
       
@media  (min-width: 760px) {
        .moveLeft, .moveRight, .shoot {
          display: none;
        }
 }
 @media  (max-width: 760px) {
        .moveLeft, .moveRight, .shoot {
          display: flex;
        }
 }